html { 
  height:100%; 
}

body {
  height:100%;
  margin: 0px;
  padding: 0px;
  font-family: "å¾®è??æ­?é»?é«?", "Microsoft JhengHei", arial, sans-serif;
}

.border-width-lg{
border-width: 8px !important;
}

.card-bg-eid{
background-color: white;
}

.card-shadow{
box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.16);
}

.logo-sm {
width: 65%;
}

.logo-md {
width: 80%;
}

.logo-isu {
width: 46.5px;
}

.bg-cover {
background-size: cover;
background-position: center center;
}

.bg-contain {
background-size: contain;
background-position: center center;

}

.dropdown-menu-right {
  position: absolute;
  top: 60px;
  right: 0px;
  left: auto;
}

.checkbox-1x {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
}

.fz-xs{
  font-size: 10px;
}

.fz-s{
  font-size: 12px;
}

.icon-sm {
  width: 5%;
}

.qr-code-width{
  width: 110px;
}


.table-width-s{
  min-width: 80px;
}

.table-width-m{
  min-width: 160px;
}

.table-width-l{
  min-width: 240px;
}

.table-width-xl{
  min-width: 320px;
}
/* choice */
.c_red {
  background: #FF5F5F;
}

.c_red:hover {
  background: #ff2222;
  border-color: #000000;
}

.Sign_Bar {
  position: relative;
  width: 60px;
  left: -4px;
  top: 0%;

  background: #ff3131;
}

.Sign_Bar:hover {
  background: #f81111;
}

.bg-sd{
  background-image: url("https://picsum.photos/1600/1600?random=10");
  background-size: 100%;
  background-repeat: no-repeat;
}
@media screen and (max-width:768px) {
  .bg-sd {
    background-image: url("https://picsum.photos/1200/2400?random=9");
    background-repeat: repeat;
    background-attachment: fixed;
  }
}

.c_aqua{
  background:#6BD6CF;
}
.c_aqua:hover{
  background:#37cfc5;
}
.c_blue{
  background:#8084ff;
}
.c_blue:hover{
  background:#4e53ff;
}